@using UserRegFormHWv01.DAL.Entities;
@{
    var user = ViewData["LoginUser"] as User;
}
<h1>User Profile</h1>
@if (user == null)
{
    <a href="/Auth">Auth required</a>
}
else
{
    <label for="userNewAvatar">
        <img id="userLogo" src="~/img/@user.Avatar" style='border-radius:50%' />
    </label>
    <br />
    <input type="file" id="userNewAvatar" accept="image/*" />//style="visibility:hidden"
    <br />
    <b>RealName: </b>
    <span id="userRealName">@user.RealName</span>
    <br />
    <b>Login: </b>
    <span id="userLogin">@user.Login</span>
    <br />
    <b>Email: </b>
    <span id="userEmail">@user.Email</span>
    <br />
    <br />
    <b>Old Password: </b>
    <input id="userOldPassword" type="password" />
    <br />
    <b>New Password: </b>
    <input id="userNewPassword" type="password" />
    <br />
    <button id="changePassword">Change Password</button>
}

<script src="~/js/Profile.js"></script>
