html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*-------------*/

.topic {
    border: 2px solid lightgrey;
    box-shadow: 0 0 4px 5px lightgrey;
    margin: 5vh 5vw;
    padding: 4vh 4vw;
}

/*figure {
    border: thin #c0c0c0 solid;*/
   /* display: flex;
    flex-flow: column;
    padding: 5px;*/
    /*max-width: 220px;
    margin: auto;
}

figcaption {
    text-align: center;
}*/

.article { /* блок публикации */
    border: 1px solid salmon;
    box-shadow: 1px 2px 4px 4px lightgray;
    margin: 1em auto;
    width: 75vw;
}

    .article span { /* "кнопка" ответить (reply) */
        cursor: pointer;
        float: right;
        font-size: x-large;
        margin: -5px 10px 0 0;
    }

    .article em { /* блок имени автора и его картинки */
        border-right: 1px solid gray;
        float: left;
        margin: 3px;
        width: 150px;
    }

        .article em b { /* автор (имя) */
            display: block;
            margin: auto;
        }

        .article em img { /* картинка */
            max-width: 100%;
        }
    .article hr {
        margin-left: 120px;
    }
    .article p {

    }
        .article p img {
            float: left;
            margin-right: 1ch;
            max-width: 70px;
        }
    .article del,
    .article ins {
        float: right;
        margin-right: 2em;
        margin-top: 3px;
        text-decoration: none;
    }
    .article del,
    .article ins,
    .article span {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome/Safari/Opera */
        -khtml-user-select: none; /* Konqueror */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
    }

    .article ins { /* значок (символ) редактирования статьи */
        transform: rotate(90deg);
    }
