@{
    ViewData["Title"] = "Topic Page";
}

<p>
    @ViewData["id"]
</p>

<articles topic-id='@ViewData["id"]'></articles><br />

@if(ViewData["LoginUser"] == null)
{
    <i>Необходимо войти  систему</i>
}
else
{
    <b>Добавить комментарий</b>
    <br />
    
    <input type="file" id="article-image" accept="image/*" />
    <br />

    @*<div>
        <em style="float: left; margin: 3px; width: 150px;">
            <b style="display: block; margin: auto;">author</b>
            <img style="max-width: 50px;" src='./wwwroot/img/no-avatar.png' />
        </em>
        <div style="border: 1px solid">Hello</div>
        
    </div>*@
    <textarea id="article-text"
            data-author-id="@ViewData["authorId"]"
            data-topic-id="@ViewData["id"]"
            data-reply-id=""
            style="width: 100%"></textarea>
    <br />
    <button id="button-publish">Опубликовать</button>
}
<script src="~/js/Topic.js"></script>
